/* ✅ Importa fuentes primero */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');

/* ✅ Luego las directivas Tailwind */
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  /* .btn-primary {
      @apply py-1.5 px-3 text-center bg-blue-700 rounded-md text-white;
  } */
}

/* ✅ Tus estilos globales al final */
body {
  font-family: 'Inter', sans-serif;
  background-color: #f9fafb;
  color: #111827;
}
